.discr{
    font-size: 120px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: #204794;
    color: #0E0E0E;
       font-family: 'Banna', sans-serif;
  
           margin-left: 60px;
}