
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');




body {
  font-family: 'Oswald', sans-serif;
  background-color: #0e0e0e;
  background-image: url(Assets/back.png);
  background-size: cover;
}
